body {
    background: url("https://wallpapercave.com/wp/8MuQmuU.jpg");
    display: flex;
    flex-direction: column;

}

/* Conteneur des div*/

#conteneur {
    display: flex;
    width: 90%;
    box-shadow: 2px 2px 0px black;
    border-radius: 10px / 10px;
    border: 2px darkslategrey solid;
    margin: 10px;

}

/* Conteneur du formulaire */
#formConteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    color : antiquewhite;
}

#formConteneur p {
    margin: 10px;
}

#userForm {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#taskTextBox {
    max-width: 500px;
}

#addButton {
    margin-left: 10px;
}

/* les div des listes */
.listDiv {
    box-shadow: 2px 2px 0px black;
    border-radius: 10px / 10px;
    border: 2px black solid;
    margin: 10px;
    min-height: 500px;
}

.listDiv h1 {
    text-align: center;
}
#DoneMainDiv h1{
    color : darkgreen;
}
#ToBeDoneMainDiv {
    color : darkred;
}

#DoneMainDiv {
    background: url("https://wallpapersite.com/images/pages/pic_h/7874.jpg");
    background-size: cover;
    width: 50%;
    justify-content: center;
}

#ToBeDoneMainDiv {
    background: url("https://i.imgur.com/LHNuGXE.jpg");
    background-size: cover;
    width: 50%;
    justify-content: center;
}

#ListDone li {
    color: green;
}

#ListToBeDone li {
    color: darkred;
}

/* le close button */
.closingCrossNode {
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
}
.closingCrossNode:hover {
    background-color: #f44336;
    color: white;

}

#ListDone .taskTextNode {
    text-decoration: line-through;
}
.taskTextNode {
    cursor: pointer;
}

